.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--shadow);
}

.logo{
	height: 3.5rem;
	width: 3.5rem;
	margin: .75rem;
}

.logoWrapper
{
	display: flex;
	align-items: center;
}

.header a {
	color: var(--main);
	text-decoration: none;
	display: inline-block;
	margin: 0 1rem;
	font-weight: 500;
}

.header a:hover {
	color: var(--active);
}