.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--shadow);
	z-index: 1;
}

.logo {
	height: 3.5rem;
	width: 3.5rem;
	margin: 0.75rem;
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.header a:not(:global(.button)) {
	display: inline-block;
	margin: 0 1rem;
	font-weight: 500;
}
