.userItem td p{
	margin:0;
}

.userItem td p{
	vertical-align: top;
}

.userItem td:last-child{
	position: relative;
}

.userItemDone td:last-child:after{
	display:block;
	content:"";
	position: absolute;
	height: calc(50% - 1px);
	width: 85vw;
	top: 0;
	left: -85vw;
	border-bottom: 2px solid grey;
}

.articleCode {
	font-size: 0.5em;
}

.buttonCell {
	width: 0;
	text-align: center;
	padding: 0 !important;
	margin: 0;
}
.buttonCell button{
	background: none;
	color: inherit;
	font-size: 1rem;
	width: 2rem;
	height: 2rem;
	padding: 0rem;
	margin: 0.25rem;
}
.buttonCell button
.buttonCell button:active,
.buttonCell button:focus{
	border: none;
	box-shadow: none;
}
.buttonCell button::before{
	background: none;
}

