:root {
	--table-head-height: 2.5rem;
}

.main{
	padding: 2rem;
	height: 100%;
}

.wrapper {
	position: relative;
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
	height: 100%;
	overflow: auto;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}

.stickyhead {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: var(--table-head-height);
	margin-bottom: calc(-1 * var(--table-head-height));
	background: var(--main-gradient);
}

.wrapper .scrollTrack {
	height: calc(100% - var(--table-head-height) - 0.3rem);
	top: auto;
	bottom: 0.15rem;
}

.wrapper table {
	text-align: left;
	position: relative;
	border-collapse: collapse;
	border-radius: 0.5rem;
}
.wrapper th,
.wrapper td {
	padding: 0.5rem 1rem;
	min-width: 3rem;
}
.wrapper thead {
	position: relative;
	top: 0;
	z-index: 2;
}

.wrapper tbody tr {
	border-top: 1px solid lightgray;
}

.wrapper tbody tr:nth-child(even) {
	background: #eee;
}

.wrapper th {
	text-align: left;
	height: var(--table-head-height);
	line-height: calc(var(--table-head-height) - 1rem);
	color: var(--light-text);
	position: sticky;
	top: 0;
	z-index: 1;
	white-space: nowrap;
}

.wrapper .labelsWrapper th {
	top: 3.5rem;
	font-size: 0.66rem;
	line-height: 0.66rem;
	background: #fff;
	color: #000;
	padding: 0.2rem 1rem;
	height: auto;
	border: none;
}
.wrapper .labelsWrapper {
	border: none;
}
.wrapper .groupLabel th {
	top: 2.45rem;
	color: white;
	background: var(--main-very-light);
	padding: 0 1rem;
	height: 3.5rem;
	border-top: 1px solid lightgray;
	font-weight: 600;
}
.wrapper .groupLabel {
	border: none;
}
