:root {
	--table-head-height: 2.5rem;
}

.wrapper {
	position: relative;
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
	/*overflow: auto;*/
}

.wrapper table {
	margin: 1rem;
	text-align: left;
	position: relative;
	border-collapse: separate;
	border-spacing: 0 0.33rem;
	border-radius: 0.5rem;
}
.wrapper th,
.wrapper td {
	padding: 0.25rem 1rem;
	min-width: 3rem;
}
.wrapper thead {
	position: relative;
	top: 0;
	z-index: 2;
}

.wrapper td {
    border: solid 0.5px rgba(0, 0, 0, 0.25);
    border-style: solid none;
}

.wrapper td:first-child {
    border-left-style: solid;
    border-radius: 0.5rem 0 0 0.5rem;
}

.wrapper td:last-child {
    border-right-style: solid;
    border-radius: 0 0.5rem 0.5rem 0;
}

.wrapper th {
	text-align: left;
	height: var(--table-head-height);
	line-height: calc(var(--table-head-height) - 1rem);
	color: var(--light-text);
	position: sticky;
	top: 0;
	z-index: 2;
	white-space: nowrap;
}

.wrapper .labelsWrapper th {
	top: 2.75rem;
	font-size: 0.66rem;
	line-height: 0.66rem;
	background: #fff;
	color: #000;
	padding: 0.2rem 1rem;
	height: auto;
	border: none;
}
.wrapper .labelsWrapper {
	border: none;
}
.wrapper .groupLabel th {
	color: black;
	background: #fff;
	padding: 1.25rem 1rem 0.75rem 1rem;
	height: 3.5rem;
	border: none;
}
.wrapper .groupLabel {
	border: none;
}
